// Set the bootstrap variant colors before we import bootstrap
$primary: #264653;
$secondary: #2a9d8f;
$success: #70e000;
$danger: #F95738;

@import '~bootstrap/scss/bootstrap';

.timerContainer {
  display: grid;
  grid-template-columns: 50% 50%;

}

.goals {
  display: flex;
  justify-content: center;
}

.studyTimer {
  grid-column-start: 1;
  grid-column-end: first;
  grid-row-start: row1-start;
  grid-row-end: 2;
}

.breakTimer {
  grid-column-start: 1;
  grid-column-end: first;
  grid-row-start: row2-start;
  grid-row-end: 2;
  text-align: right;
}

.center-this {
  display: flex;
  justify-content: center;
}

.thisTime {
  display: flex;
  justify-content: center;
  color: green;
}

.done-button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
