// Set the bootstrap variant colors before we import bootstrap
$primary: #264653;
$secondary: #2a9d8f;
$success: #70e000;
$danger: #F95738;

@import '~bootstrap/scss/bootstrap';

.timerContainer {
  display: flex;
}

.goals {
  display: flex;
  justify-content: center;
}

.studyTimer {
  justify-content: flex-start;
}

.breakTimer {
  display: flex;
  justify-content: flex-end;
}

.center-this {
  display: flex;
  justify-content: center;
}
